@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  font-family: "Share Tech Mono", monospace;
}

#banner {
  background: linear-gradient(to right,
      #0a0a0a,
      #3f3f46,
      #065f46,
      #4c1d95,
      #059669,
      #4f46e5);
  background-size: 400% 400%;
  animation: bannerAnimation 30s infinite ease-in-out;
}

@keyframes bannerAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#title {
  grid-column: 3/5;
  padding-bottom: 1%;
  text-shadow: black;
  color: rgba(255, 255, 240, .85);
  font-family: 'Share Tech Mono', monospace;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  display: block;
}

/* ANIMATE TITLE */
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(-30deg);
  }

  50% {
    transform: rotateY(0deg);
  }

  75% {
    transform: rotateY(30deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }

  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }

  50% {
    text-shadow: 0 0 black;
  }

  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black;
  }

  100% {
    text-shadow: 0 0 black;
  }
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: #047857;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ecfdf5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
}